body {
    margin: 0;
}

#content {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e9c46a;
}

.weekDay {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: #2a9d8f;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: width 0.5s, height 0.5s;
}

.weekDay:hover {
    width: 180px;
    height: 180px;
}

.temperature {
    font-size: 50px;
}

dialog {
    position: fixed;
    width: 500px;
    height: 300px;
    border: none;
    padding: 0;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.toolbar {
    background-color: #264653;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.toolbar .text {
    font-size: 20px;
    padding: 13px;
    color: white;
}

.toolbar .closeButton {
    cursor: pointer;
    padding: 15px;
    color: white;
}

.dialogContent {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}